.carousel-component {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: #000;
}

.carousel-component #slide {
    width: max-content;
    margin-top: 50px;
}

.carousel-component .item {
    --width: 200px;
    --height: 300px;
    --margin: 20px;
    --left: 50%;
    --right: 10px;
    --bottom: 50px;
    width: var(--width);
    height: var(--height);
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.8s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    bottom: var(--bottom);
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.carousel-component .item:nth-child(n + 3) .filter-efect {
    opacity: 0;
    transition: all 3s ease;
}

.carousel-component .item:nth-child(n + 3) {
    cursor: pointer;
}

/* .item:nth-child(1), */
.carousel-component .item:nth-child(2) {
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.carousel-component .item:nth-child(3) {
    left: calc(100vw - ((var(--width) + var(--margin)) * 3) - var(--right));
}

.carousel-component .item:nth-child(4) {
    left: calc(100vw - ((var(--width) + var(--margin)) * 2) - var(--right));
}

.carousel-component .item:nth-child(5) {
    left: calc(100vw - ((var(--width) + var(--margin)) * 1) - var(--right));
}

.carousel-component .item:nth-child(n + 6) {
    left: calc(100vw + ((var(--width) + var(--margin)) * 1) + var(--right));
    opacity: 0;
}

.carousel-component .item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    flex-direction: column;
    width: 500px;
    max-width: 100vw;
    text-wrap: balance;
    text-align: left;
    user-select: default;
    cursor: text;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
}

.carousel-component .item:nth-child(2) .content {
    display: flex;
    z-index: 11111;
}

.carousel-component .item .name {
    font-size: 50px;
    font-family: title;
    font-weight: bold;
    opacity: 0;
    text-shadow: 1px 0 1px var(--color1-txt), 0 1px 1px var(--color1-txt),
        -1px 0 1px var(--color1-txt), 0 -1px 1px var(--color1-txt);
    color: var(--color1-bg);
    line-height: 1;
    text-transform: uppercase;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.carousel-component .item .des {
    font-family: content;
    font-size: 1.6rem;
    line-height: 1.7rem;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 20px;
    opacity: 0;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    font-weight: bold;
    color: #fff;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.carousel-component .item button,
.carousel-component .item a {
    padding: 10px 20px;
    margin-right: auto;
    border: none;
    opacity: 0;
    text-transform: uppercase;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.carousel-component .buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

.carousel-component .buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: 0.5s;
    opacity: 0.8;
}

.carousel-component .buttons button svg {
    width: 100%;
    max-width: 20px;
    fill: #fff;
}

.carousel-component .buttons button:hover {
    background-color: var(--color1-bg);
}

@media (width < 1024px) {
    .carousel-component .item {
        --width: 150px;
        --height: 200px;
        --margin: 20px;
        --left: 30px;
    }

    .carousel-component .item:nth-child(3) {
        left: var(--left);
    }

    .carousel-component .item:nth-child(4) {
        left: calc(var(--left) + var(--width) + var(--margin));
    }

    .carousel-component .item:nth-child(5) {
        left: calc(var(--left) + (var(--width) * 2) + (var(--margin) * 2));
    }

    .carousel-component .item:nth-child(n + 6) {
        left: calc(var(--left) + (var(--width) * 3) + (var(--margin) * 3));
        opacity: 0;
    }

    .carousel-component .item .content {
        /* top: calc(var(--header-height) + 130px); */
        left: 50%;
        top: unset;
        bottom: 50%;
        transform: translate(-50%, 0);
        align-items: center;
    }

    .carousel-component .item .name {
        font-size: 2.5rem;
        padding: 0 20px;
    }

    .carousel-component .item .des {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .carousel-component .item .name,
    .carousel-component .item .des {
        text-align: center;
    }

    .carousel-component .item button,
    .carousel-component .item a {
        margin: 0 auto;
    }
}
