@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-w: 1200px;
    --padding: 40px;
    --before-header-height: 35px;
    --header-height: 70px;
    --heigh-not-header: calc(100vh - var(--header-height));
    --headers-height: calc(var(--header-height) + var(--before-header-height));
    --heigh-not-headers: calc(100vh - var(--header-height) - var(--before-header-height));
}

.--max-w {
    max-width: var(--max-w);
}

.--padding {
    padding: var(--padding);
}

.--before-header-height {
    height: var(--before-header-height);
}

.--header-height {
    height: var(--header-height);
}

.--headers-height {
    height: var(--headers-height);
}

.--heigh-not-headers {
    height: var(--heigh-not-headers);
}

/* FONTS */
@font-face {
    src: url("./assets/fonts/Oswald-VariableFont_wght.ttf");
    font-family: link;
}

@font-face {
    src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
    font-family: title;
}

@font-face {
    /* src: url("./assets/fonts/BlackOpsOne-Regular.ttf"); */
    src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
    font-family: title2;
}

@font-face {
    src: url("./assets/fonts/poppins/Poppins-Black.ttf");
    font-family: title3;
}

@font-face {
    src: url("./assets/fonts/poppins/Poppins-Light.ttf");
    font-family: content;
}

.container {
    width: 100%;
    max-width: var(--max-w);
    margin: 0 auto;
}

/* dark mode */

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2937;
        color: #fff;
    }
} */

html {
    scroll-behavior: smooth;
    scroll-padding: var(--header-height);
}

img {
    pointer-events: none;
}

@media (max-width: 500px) {
    :root {
        --padding: 25px;
    }
}

@media (max-width: 400px) {
    :root {
        --padding: 10px;
    }
}

@media (max-width: 300px) {
    :root {
        --padding: 5px;
    }
}

/* _____________ SCROLL _ STYLES ________________ */
.scroll-style::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--color1-bg);
    border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
    background: var(--color1-bg);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-style::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
